// TYPOGRAPHY

// Fonts
@font-face
  font-family: "Fira Sans"
  src: url("../fonts/Fira-sans/FiraSans-Regular.ttf") format("truetype")
  font-weight: normal
  font-style: normal

@font-face
  font-family: "Fira Sans"
  src: url("../fonts/Fira-sans/FiraSans-Medium.ttf") format("truetype")
  font-weight: 500
  font-style: normal


// Family
$font-family-fira-sans:             'Fira Sans'

// Font Size
$font-size-xs:                      12px
$font-size-sm:                      0.85rem !default
$font-size-md:                      1rem !default
$font-size-lg:                      1.5rem !default
$font-size-xl:                      none
