// ICON ELEMENT

//
// VARIABLES
//
$icon-height-sm:                    18px !default
$icon-height:                       22px !default
$icon-height-lg:                    35px !default

$icon-width-sm:                     18px !default
$icon-width:                        22px !default
$icon-width-lg:                     35px !default

// 
// SPECFIC MIXINS
//
// The sizes use mixins so they can be used at different breakpoints
=icon-small
  height: $icon-height-sm
  width: $icon-width-sm
=icon-normal
  height: $icon-height
  width: $icon-width
=icon-large
  height: $icon-height-lg
  width: $icon-width-lg

//
// BLOCKS
//
.icon
  +icon-normal

  //
  // MODIFIERS
  //

  // Size Modifiers
  &--sm
    +icon-small

  &--lg
    +icon-large