// INPUT ELEMENT

//
// VARIABLES
//
$input-border-color:                $skin-default-border-color


//
// BLOCKS
//
.input
  @extend %input
  //width: -webkit-fill-available
  width: 100%
  border-color: $input-border-color
  //width: 100%
  box-sizing: border-box
  box-shadow: inset 0 0.0625em 0.125em rgba(10,10,10,.05)
  color: #363636
  height: 2.5em
  &:focus
    

  //
  // MODIFIERS
  //

  // Size Modifiers
  &--sm
    +input-small

  &--lg
    +input-large

  // Width Modifier
  &--block
    width: 100% !important