// INPUT ELEMENT

//
// VARIABLES
//
$input-border-color:                $skin-default-border-color


//
// BLOCKS
//
.input
  @extend %input
  //width: -webkit-fill-available
  width: 100%
  border-color: $color-neutral-gray-13
  border-width: 1px
  background: #ffffff !important
  //width: 100%
  box-sizing: border-box
  box-shadow: inset 0 0.0625em 0.125em rgba(10,10,10,.05)
  color: #363636
  height: 2.5em
  &:hover
    border-color: #b5b5b5
  &:focus
    border-color: #3273dc
    box-shadow: 0 0 0 0.125em rgba(50,115,220,.25)
    

  //
  // MODIFIERS
  //

  // Size Modifiers
  &--sm
    +input-small

  &--lg
    +input-large

  // Width Modifier
  &--block
    width: 100% !important

  @include font-family('default')
  @include background('default')
  @include color('default')
  @include border('default')

  &--primary
    @include background('primary')
    @include color('primary')

  &--success
    @include background('success')
    @include color('success')

  &--warning
    @include background('warning')
    @include color('warning')

  &--danger
    @include background('danger')
    @include color('danger')