// LOGO ELEMENT

//
// VARIABLES
//


.typography
  color: $skin-default-text-color
  //
  // MODIFIERS
  //

  &--h1
    font-size: 54px

  &--h2

  &--h3

  &--h4

  &--h5

  &--h6

  &--sm
    font-size: $font-size-sm

  @include font-family('default')
  @include color('default')

  &--primary
    @include font-family('primary')
    @include color('primary')